.flex-grid {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  font-family: "Fira Sans", sans-serif;
  margin-left:  calc(( 100% - 1200px ) / 2 );
  max-width: 1200px; }
  @media screen and (max-width: 1200px) {
    .flex-grid {
      margin: 0 auto; } }

.flex-grid .col {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  flex-basis: 100%; }

@media screen and (max-width: 667px) {
  .flex-grid > .col.sm-3-4 {
    flex: 75%;
    max-width: 75%; }
  .flex-grid > .col.sm-2-3 {
    flex: 66%;
    max-width: 66%; }
  .flex-grid > .col.sm-1-2 {
    flex: 50%;
    max-width: 50%; }
  .flex-grid > .col.sm-1-3 {
    flex: 33%;
    max-width: 33%; }
  .flex-grid > .col.sm-1-4 {
    flex: 25%;
    max-width: 25%; } }
@media screen and (min-width: 668px) {
  .flex-grid > .col.md-3-4 {
    flex: 75%;
    max-width: 75%; }
  .flex-grid > .col.md-2-3 {
    flex: 66%;
    max-width: 66%; }
  .flex-grid > .col.md-1-2 {
    flex: 50%;
    max-width: 50%; }
  .flex-grid > .col.md-1-3 {
    flex: 33%;
    max-width: 33%; }
  .flex-grid > .col.md-1-4 {
    flex: 25%;
    max-width: 25%; } }
@media screen and (min-width: 1024px) {
  .flex-grid > .col.lg-3-4 {
    flex: 75%;
    max-width: 75%; }
  .flex-grid > .col.lg-2-3 {
    flex: 66%;
    max-width: 66%; }
  .flex-grid > .col.lg-1-2 {
    flex: 50%;
    max-width: 50%; }
  .flex-grid > .col.lg-1-3 {
    flex: 33%;
    max-width: 33%; }
  .flex-grid > .col.lg-1-4 {
    flex: 25%;
    max-width: 25%; } }
@media screen and (min-width: 1280px) {
  .flex-grid > .col.xl-3-4 {
    flex: 75%;
    max-width: 75%; }
  .flex-grid > .col.xl-2-3 {
    flex: 66%;
    max-width: 66%; }
  .flex-grid > .col.xl-1-2 {
    flex: 50%;
    max-width: 50%; }
  .flex-grid > .col.xl-1-3 {
    flex: 33%;
    max-width: 33%; }
  .flex-grid > .col.xl-1-4 {
    flex: 25%;
    max-width: 25%; } }

.body {
  margin: 0;
  position: relative; }

.banner {
  background-color: #ffeb3b;
  color: #111111;
  padding: 1rem;
  height: 25vh;
  text-align: center;
  position: relative; }

.banner__menu {
  position: absolute;
  top: 1rem;
  left: 0;
  font-family: "Fira Sans", sans-serif;
  list-style: none;
  margin: 0; }
  @media screen and (max-width: 667px) {
    .banner__menu {
      padding-left: 0.25rem;
      top: 0.25rem; } }
  @media screen and (min-width: 668px) {
    .banner__menu {
      padding-left: 0.5rem;
      top: 0.5rem; } }

.banner__menu-item {
  display: inline-block; }

.banner__menu-link {
  font-size: 2.5vh;
  color: #111111;
  padding: 0.5rem;
  text-decoration: none; }
  @media screen and (min-width: 1280px) {
    .banner__menu-link {
      font-size: calc( 2.5vh * 0.9 ); } }
  @media screen and (min-width: 1024px) {
    .banner__menu-link {
      font-size: calc( 2.5vh * 0.7 ); } }
  @media screen and (min-width: 668px) {
    .banner__menu-link {
      font-size: calc( 2.5vh * 0.7 ); } }
  @media screen and (min-width: 668px) and (orientation: landscape) {
    .banner__menu-link {
      font-size: calc( 2.5vh * 1 ); } }

  @media screen and (max-width: 667px) {
    .banner__menu-link {
      font-size: calc( 2.5vh * 0.7 ); } }
  @media screen and (max-width: 667px) and (orientation: landscape) {
    .banner__menu-link {
      font-size: calc( 2.5vh * 1 ); } }

  .banner__menu-link:hover {
    background-color: #e6dc84; }

.banner__title {
  font-size: 5vh;
  font-family: "Zilla Slab Highlight", cursive;
  margin-top: 25px;
  display: inline-block; }
  @media screen and (min-width: 1280px) {
    .banner__title {
      font-size: calc( 5vh * 0.9 ); } }
  @media screen and (min-width: 1024px) {
    .banner__title {
      font-size: calc( 5vh * 0.7 ); } }
  @media screen and (min-width: 668px) {
    .banner__title {
      font-size: calc( 5vh * 0.7 ); } }
  @media screen and (min-width: 668px) and (orientation: landscape) {
    .banner__title {
      font-size: calc( 5vh * 1 ); } }

  @media screen and (max-width: 667px) {
    .banner__title {
      font-size: calc( 5vh * 0.7 ); } }
  @media screen and (max-width: 667px) and (orientation: landscape) {
    .banner__title {
      font-size: calc( 5vh * 1 ); } }

@media screen and (orientation: landscape) and (max-width: 667px) {
  .banner__title {
    margin-top: 2vh; } }
@media screen and (orientation: landscape) and (min-width: 668px) {
  .banner__title {
    margin-top: 3vh; } }

.banner__title--word {
  margin: 0.5rem 1.25rem;
  display: inline-block; }
  .banner__title--word:nth-child(1) {
    -webkit-transform: rotate(350deg);
    -ms-transform: rotate(350deg);
    transform: rotate(350deg); }
  .banner__title--word:nth-child(2) {
    font-size: calc( 5vh * 0.75 );
    font-size: calc( 5vh * 0.5 );
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
    transition: transform 500ms; }
    @media screen and (min-width: 1280px) {
      .banner__title--word:nth-child(2) {
        font-size: calc( calc( 5vh * 0.75 ) * 0.9 ); } }
    @media screen and (min-width: 1024px) {
      .banner__title--word:nth-child(2) {
        font-size: calc( calc( 5vh * 0.75 ) * 0.7 ); } }
    @media screen and (min-width: 668px) {
      .banner__title--word:nth-child(2) {
        font-size: calc( calc( 5vh * 0.75 ) * 0.7 ); } }
  @media screen and (min-width: 668px) and (orientation: landscape) {
    .banner__title--word:nth-child(2) {
      font-size: calc( calc( 5vh * 0.75 ) * 1 ); } }

    @media screen and (max-width: 667px) {
      .banner__title--word:nth-child(2) {
        font-size: calc( calc( 5vh * 0.75 ) * 0.7 ); } }
  @media screen and (max-width: 667px) and (orientation: landscape) {
    .banner__title--word:nth-child(2) {
      font-size: calc( calc( 5vh * 0.75 ) * 1 ); } }

    .banner__title--word:nth-child(2):hover {
      -webkit-transform: rotate(390deg);
      -ms-transform: rotate(390deg);
      transform: rotate(390deg); }
  .banner__title--word:nth-child(3) {
    -webkit-transform: rotate(377deg);
    -ms-transform: rotate(377deg);
    transform: rotate(377deg); }

.banner__img {
  position: absolute;
  bottom: 0;
  max-width: 12.5%; }
  .banner__img:nth-of-type(1) {
    left: 1%; }
  .banner__img:nth-of-type(2) {
    left: 11%; }
  .banner__img:nth-of-type(3) {
    left: 26%; }
  .banner__img:nth-of-type(4) {
    left: 60%; }
  .banner__img:nth-of-type(5) {
    left: 72%; }
  .banner__img:nth-of-type(6) {
    left: 86%; }
  .banner__img:nth-of-type(1) {
    left: calc( (1 * 8% ) - 4% ); }
  .banner__img:nth-of-type(2) {
    left: calc( (2 * 8% ) - 4% ); }
  .banner__img:nth-of-type(3) {
    left: calc( (3 * 8% ) - 4% ); }
  .banner__img:nth-of-type(4) {
    left: calc( 94% - (( 4 - 3 ) * 8% )); }
  .banner__img:nth-of-type(5) {
    left: calc( 94% - (( 5 - 3 ) * 8% )); }
  .banner__img:nth-of-type(6) {
    left: calc( 94% - (( 6 - 3 ) * 8% )); }
@media screen and (orientation: landscape) and (max-width: 667px) {
  .banner__img {
    max-height: 19vh; } }
@media screen and (orientation: landscape) and (min-width: 668px) {
  .banner__img {
    max-height: 20vh; } }

.banner__subtitle {
  font-size: calc( 5vh * 0.5  );
  font-family: "Zilla Slab Highlight", cursive;
  display: block;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg); }
  @media screen and (min-width: 1280px) {
    .banner__subtitle {
      font-size: calc( calc( 5vh * 0.5  ) * 0.9 ); } }
  @media screen and (min-width: 1024px) {
    .banner__subtitle {
      font-size: calc( calc( 5vh * 0.5  ) * 0.7 ); } }
  @media screen and (min-width: 668px) {
    .banner__subtitle {
      font-size: calc( calc( 5vh * 0.5  ) * 0.7 ); } }
  @media screen and (min-width: 668px) and (orientation: landscape) {
    .banner__subtitle {
      font-size: calc( calc( 5vh * 0.5  ) * 1 ); } }

  @media screen and (max-width: 667px) {
    .banner__subtitle {
      font-size: calc( calc( 5vh * 0.5  ) * 0.7 ); } }
  @media screen and (max-width: 667px) and (orientation: landscape) {
    .banner__subtitle {
      font-size: calc( calc( 5vh * 0.5  ) * 1 ); } }

.flex-grid__card-container--flip {
  perspective: 1000px; }
  @media screen and (min-width: 1024px) {
    .flex-grid__card-container--flip:hover .card {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotateY(180deg); } }

.card {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid #111111;
  border-radius: 4px;
  margin: 1rem 0.5rem;
  padding: 0.5rem; }
  @media screen and (min-width: 1024px) {
    .card {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border: none;
      height: calc( 450px - 2rem );
      position: relative;
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d; } }

@media screen and (min-width: 1024px) {
  .flex-grid__card-container--flip,
  .card__front,
  .card__back {
    height: 450px; } }

@media screen and (min-width: 1024px) {
  .card__front,
  .card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: calc( 100% - 1rem ); } }

@media screen and (min-width: 1024px) {
  .card__front {
    background-color: #111111;
    height: 100%;
    width: 100%;
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    overflow: hidden; } }

@media screen and (min-width: 1024px) {
  .card__back {
    background-color: #111111;
    color: #FFF;
    height: calc( 100% - 1rem );
    padding: 0.5rem;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg); }
    .card__back a {
      color: #ffeb3b; } }

.flex-grid__header {
  font-size: 2rem;
  font-family: "Zilla Slab Highlight", cursive;
  text-align: center;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg); }
  @media screen and (min-width: 1280px) {
    .flex-grid__header {
      font-size: calc( 2rem * 0.9 ); } }
  @media screen and (min-width: 1024px) {
    .flex-grid__header {
      font-size: calc( 2rem * 0.7 ); } }
  @media screen and (min-width: 668px) {
    .flex-grid__header {
      font-size: calc( 2rem * 0.7 ); } }
  @media screen and (min-width: 668px) and (orientation: landscape) {
    .flex-grid__header {
      font-size: calc( 2rem * 1 ); } }

  @media screen and (max-width: 667px) {
    .flex-grid__header {
      font-size: calc( 2rem * 0.7 ); } }
  @media screen and (max-width: 667px) and (orientation: landscape) {
    .flex-grid__header {
      font-size: calc( 2rem * 1 ); } }

.card__title,
.flex-grid__subheader {
  font-family: "Zilla Slab Highlight", cursive;
  font-size: 1.25rem;
  margin: 0.5rem 0; }

@media screen and (min-width: 1024px) {
  .card__title {
    color: #FFF;
    font-size: 3.5rem;
    position: absolute;
    top: 60%; } }

.card__image {
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  max-height: 12rem;
  max-width: 100%;
  overflow: hidden; }
  @media screen and (min-width: 1024px) {
    .card__image {
      height: 100%;
      max-height: none;
      max-width: none; } }

.card__text,
.flex-grid__text {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  margin-top: 0;
  text-align: left;
  white-space: pre-line; }
  .card__text br,
  .flex-grid__text br {
    display: block;
    content: "";
    margin-top: 0; }
  @media screen and (min-width: 1024px) {
    .card__text,
    .flex-grid__text {
      font-size: 0.875rem; } }

.flex-grid__image {
  border-radius: 4px;
  max-height: 20rem;
  width: 100%; }
  @media screen and (max-width: 667px) {
    .flex-grid__image {
      margin: 2rem;
      max-height: none;
      width: calc( 100% - 4rem ); } }

.flex-grid--add-margin {
  margin: 1rem; }

.card__text--date {
  display: none;
  font-style: italic;
  font-weight: 300; }
  .card__text--date br {
    border-top: 1px solid #FFF; }
  @media screen and (min-width: 1024px) {
    .card__text--date {
      display: block; } }

@media screen and (min-width: 1024px) {
  .card__image--portrait {
    min-width: 100%; } }

@media screen and (min-width: 1024px) {
  .card__image--landscape {
    min-height: 100%; } }

/*# sourceMappingURL=index.css.map */
