
// Variables

$accent-font: 'Zilla Slab Highlight', cursive;
$body-font: 'Fira Sans', sans-serif;
$body-background: #FFF;
$light-gray: #CCC;
$font-color: #111111;
$accent-color: #ffeb3b;
$header-background: $accent-color;
$border-radius: 4px;


// Styles

.body {
  margin: 0;
  position: relative;
}

.banner {
  background-color: $header-background;
  color: $font-color;
  padding: 1rem;
  height: 300px;
  text-align: center;
  position: relative;
}

.banner__menu.pure-menu-horizontal {
  position: absolute;
  top:0;
  left: 0;
  font-family: $body-font;
  width: auto;
  .pure-menu-link {
    color: $font-color;
    &:hover {
      background-color: mix( $header-background, $light-gray, 50% )
    }
  }
}

.banner__title {
  font-family: $accent-font;
  font-size: 3rem;
  margin-top: 50px;
  display: inline-block;
}

.banner__title--word {
    margin: 0.5rem 1.25rem;
    display: inline-block;
    &:nth-child( 1 ) {
      transform: rotate( 350deg );
    }
    &:nth-child( 2 ) {
      font-size: 1.5rem;
      transform: rotate( 330deg );
      transition: all 500ms;
      &:hover {
        transform: rotate( 390deg );
      }
    }
  &:nth-child( 3 ) {
    transform: rotate( 377deg );
  }
}

.banner__img {
  position: absolute;
  bottom: 0;
  &:nth-of-type( 1) {
    left: 1%;
  }
  &:nth-of-type( 2 ) {
    left: 11%;
  }
  &:nth-of-type( 3 ) {
    left: 26%;
  }
  &:nth-of-type( 4 ) {
    left: 60%;
  }
  &:nth-of-type( 5 ) {
    left: 72%;
  }
  &:nth-of-type( 6 ) {
    left: 86%;
  }
  @media screen and ( max-width: 1024px ) {
    display: none;
  }
}

.banner__subtitle {
  font-family: $accent-font;
  font-size: 1.5rem;
  display: block;
  transform: rotate( 3deg );
}

.container {
  max-width: 1200px;
  font-family: $body-font;
  margin-left: unquote(" calc(( 100% - 1200px ) / 2 )");
}

.container__card {
  border: 1px solid $font-color;
  padding: 1rem;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  margin-top: 1rem;
  margin-right: 1rem
}

.card__title,
.container__subheader {
  font-family: $accent-font;
  font-size: 1.25rem;
  margin-top: 0;
}

.card__image,
.container__image {
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  width: 100%;
}

.card__text,
.container__text {
  white-space: pre-line;
}

.card__list {

}

.list__item {}

.image--not-card {
  margin: 1rem;

}