.body {
  margin: 0;
  position: relative; }

.banner {
  background-color: #ffeb3b;
  color: #111111;
  padding: 1rem;
  height: 25vh;
  text-align: center;
  position: relative; }

.banner__menu {
  position: absolute;
  top: 1rem;
  left: 0;
  font-family: "Fira Sans", sans-serif;
  list-style: none;
  margin: 0; }
  @media screen and (min-width: 668px) and (max-width: 1023px) {
    .banner__menu {
      padding-left: 0.5rem;
      top: 0.5rem; } }
  @media screen and (max-width: 667px) {
    .banner__menu {
      padding-left: 0.25rem;
      top: 0.25rem; } }

.banner__menu-item {
  display: inline-block; }

.banner__menu-link {
  font-size: 2.5vh;
  color: #111111;
  padding: 0.5rem;
  text-decoration: none; }
  @media screen and (min-width: 1280px) {
    .banner__menu-link {
      font-size: calc( 2.5vh * 0.9 ); } }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .banner__menu-link {
      font-size: calc( 2.5vh * 0.7 ); } }
  @media screen and (min-width: 668px) and (max-width: 1023px) {
    .banner__menu-link {
      font-size: calc( 2.5vh * 0.7 ); } }
  @media screen and (min-width: 668px) and (max-width: 1023px) and (orientation: landscape) {
    .banner__menu-link {
      font-size: calc( 2.5vh * 1 ); } }

  @media screen and (max-width: 667px) {
    .banner__menu-link {
      font-size: calc( 2.5vh * 0.7 ); } }
  @media screen and (max-width: 667px) and (orientation: landscape) {
    .banner__menu-link {
      font-size: calc( 2.5vh * 1 ); } }

  .banner__menu-link:hover {
    background-color: #e6dc84; }

.banner__title {
  font-size: 5vh;
  font-family: "Zilla Slab Highlight", cursive;
  margin-top: 25px;
  display: inline-block; }
  @media screen and (min-width: 1280px) {
    .banner__title {
      font-size: calc( 5vh * 0.9 ); } }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .banner__title {
      font-size: calc( 5vh * 0.7 ); } }
  @media screen and (min-width: 668px) and (max-width: 1023px) {
    .banner__title {
      font-size: calc( 5vh * 0.7 ); } }
  @media screen and (min-width: 668px) and (max-width: 1023px) and (orientation: landscape) {
    .banner__title {
      font-size: calc( 5vh * 1 ); } }

  @media screen and (max-width: 667px) {
    .banner__title {
      font-size: calc( 5vh * 0.7 ); } }
  @media screen and (max-width: 667px) and (orientation: landscape) {
    .banner__title {
      font-size: calc( 5vh * 1 ); } }

  @media screen and (orientation: landscape) {
    .banner__title {
      margin-top: 2vh; } }
  @media screen and (orientation: landscape) and (min-width: 668px) and (max-width: 1023px) {
    .banner__title {
      margin-top: 3vh; } }

.banner__title--word {
  margin: 0.5rem 1.25rem;
  display: inline-block; }
  .banner__title--word:nth-child(1) {
    transform: rotate(350deg); }
  .banner__title--word:nth-child(2) {
    font-size: calc( 5vh * 0.75 );
    font-size: calc( 5vh * 0.5 );
    transform: rotate(330deg);
    transition: all 500ms; }
    @media screen and (min-width: 1280px) {
      .banner__title--word:nth-child(2) {
        font-size: calc( calc( 5vh * 0.75 ) * 0.9 ); } }
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
      .banner__title--word:nth-child(2) {
        font-size: calc( calc( 5vh * 0.75 ) * 0.7 ); } }
    @media screen and (min-width: 668px) and (max-width: 1023px) {
      .banner__title--word:nth-child(2) {
        font-size: calc( calc( 5vh * 0.75 ) * 0.7 ); } }
  @media screen and (min-width: 668px) and (max-width: 1023px) and (orientation: landscape) {
    .banner__title--word:nth-child(2) {
      font-size: calc( calc( 5vh * 0.75 ) * 1 ); } }

    @media screen and (max-width: 667px) {
      .banner__title--word:nth-child(2) {
        font-size: calc( calc( 5vh * 0.75 ) * 0.7 ); } }
  @media screen and (max-width: 667px) and (orientation: landscape) {
    .banner__title--word:nth-child(2) {
      font-size: calc( calc( 5vh * 0.75 ) * 1 ); } }

    .banner__title--word:nth-child(2):hover {
      transform: rotate(390deg); }
  .banner__title--word:nth-child(3) {
    transform: rotate(377deg); }

.banner__img {
  position: absolute;
  bottom: 0;
  max-width: 12.5%; }
  .banner__img:nth-of-type(1) {
    left: 1%; }
  .banner__img:nth-of-type(2) {
    left: 11%; }
  .banner__img:nth-of-type(3) {
    left: 26%; }
  .banner__img:nth-of-type(4) {
    left: 60%; }
  .banner__img:nth-of-type(5) {
    left: 72%; }
  .banner__img:nth-of-type(6) {
    left: 86%; }
  .banner__img:nth-of-type(1) {
    left: calc( (1 * 8% ) - 4% ); }
  .banner__img:nth-of-type(2) {
    left: calc( (2 * 8% ) - 4% ); }
  .banner__img:nth-of-type(3) {
    left: calc( (3 * 8% ) - 4% ); }
  .banner__img:nth-of-type(4) {
    left: calc( 94% - (( 4 - 3 ) * 8% )); }
  .banner__img:nth-of-type(5) {
    left: calc( 94% - (( 5 - 3 ) * 8% )); }
  .banner__img:nth-of-type(6) {
    left: calc( 94% - (( 6 - 3 ) * 8% )); }
@media screen and (orientation: landscape) and (min-width: 668px) and (max-width: 1023px) {
  .banner__img {
    max-height: 20vh; } }
@media screen and (orientation: landscape) and (max-width: 667px) {
  .banner__img {
    max-height: 19vh; } }

.banner__subtitle {
  font-size: 5vh * 0.75;
  font-family: "Zilla Slab Highlight", cursive;
  display: block;
  transform: rotate(3deg); }
  @media screen and (min-width: 1280px) {
    .banner__subtitle {
      font-size: calc( 5vh * 0.75 * 0.9 ); } }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .banner__subtitle {
      font-size: calc( 5vh * 0.75 * 0.7 ); } }
  @media screen and (min-width: 668px) and (max-width: 1023px) {
    .banner__subtitle {
      font-size: calc( 5vh * 0.75 * 0.7 ); } }
  @media screen and (min-width: 668px) and (max-width: 1023px) and (orientation: landscape) {
    .banner__subtitle {
      font-size: calc( 5vh * 0.75 * 1 ); } }

  @media screen and (max-width: 667px) {
    .banner__subtitle {
      font-size: calc( 5vh * 0.75 * 0.7 ); } }
  @media screen and (max-width: 667px) and (orientation: landscape) {
    .banner__subtitle {
      font-size: calc( 5vh * 0.75 * 1 ); } }

.container {
  max-width: 1200px;
  font-family: "Fira Sans", sans-serif;
  margin-left:  calc(( 100% - 1200px ) / 2 ); }
  @media screen and (max-width: 1200px) {
    .container {
      margin: 0 auto; } }

.pure-g {
  height: 100%; }

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container__card {
  border: 1px solid #111111;
  padding: 0 1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 1rem 0.5rem;
  min-height: 70vh;
  text-align: left; }
  @media screen and (min-width: 1024px) and (max-width: 1279px) and (orientation: landscape) {
    .container__card {
      min-height: 80vh; } }
  @media screen and (min-width: 668px) and (max-width: 1023px) {
    .container__card {
      min-height: 60vh; } }
  @media screen and (max-width: 667px) {
    .container__card {
      min-height: 0; } }

.pure-g > .pure-u-1 {
  text-align: center; }
  .pure-g > .pure-u-1 > .container__header {
    font-size: 2rem;
    font-family: "Zilla Slab Highlight", cursive;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    transform: rotate(-6deg); }
    @media screen and (min-width: 1280px) {
      .pure-g > .pure-u-1 > .container__header {
        font-size: calc( 2rem * 0.9 ); } }
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
      .pure-g > .pure-u-1 > .container__header {
        font-size: calc( 2rem * 0.7 ); } }
    @media screen and (min-width: 668px) and (max-width: 1023px) {
      .pure-g > .pure-u-1 > .container__header {
        font-size: calc( 2rem * 0.7 ); } }
  @media screen and (min-width: 668px) and (max-width: 1023px) and (orientation: landscape) {
    .pure-g > .pure-u-1 > .container__header {
      font-size: calc( 2rem * 1 ); } }

    @media screen and (max-width: 667px) {
      .pure-g > .pure-u-1 > .container__header {
        font-size: calc( 2rem * 0.7 ); } }
  @media screen and (max-width: 667px) and (orientation: landscape) {
    .pure-g > .pure-u-1 > .container__header {
      font-size: calc( 2rem * 1 ); } }

.card__title,
.container__subheader {
  font-family: "Zilla Slab Highlight", cursive;
  font-size: 1.25rem;
  margin: 0.5rem 0 0.5rem 0; }

.card__image,
.container__image {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  max-height: 14rem;
  margin: 1rem auto; }

.card__text,
.container__text {
  font-family: "Fira Sans", sans-serif;
  margin-top: 0;
  text-align: left;
  white-space: pre-line; }
  .card__text br,
  .container__text br {
    display: block;
    content: "";
    margin-top: 0; }

.card__list,
.container__list {
  font-family: "Fira Sans", sans-serif;
  text-align: left; }

.image--not-card {
  margin: 1rem; }
  @media screen and (min-width: 668px) and (max-width: 1023px) {
    .image--not-card {
      margin: 1rem auto; } }
  @media screen and (max-width: 667px) {
    .image--not-card {
      margin: 1rem auto; } }

.container--add-margin {
  margin: 1rem; }

.image--large {
  max-height: none; }

/*# sourceMappingURL=index.css.map */
